body {
    background: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
   /* background-color: #F9F7FE; */
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: -2px 0px 16px -2px rgba(187,118,255,0.2);
    margin: 60px auto;
    margin-bottom: 15px;
    max-width: 600px;
    padding: 30px 40px;
}

h1 {
    color: #551A8B;
    font-family: 'Monoton', cursive;;
    font-size: 47px;
    margin-top: 15px;
    text-align: center;
}

select {
    border-radius: 4px;
    display: block;
    font-size: 18px;
    padding: 8px;
    width: 100%;
}

.cities {
    display:block;
    overflow: hidden;
    height: 477px;
}

.city {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    display : flex;
    justify-content: space-between;
    margin: 0px;
    padding: 30px 0;
    transition: all 700ms ease-in-out;
}
.city:hover{
    background: #dad4ec;
    cursor: not-allowed;
}
.city:first-child{
    margin-top: 10px;
}
.city:last-child {
    border: none;
}


h2 {
    margin: 0 0 5px;
    font-size: 28px;
}

.date {
    opacity: 0.7;
}

.time {
    font-size: 48px;
    font-weight: bold;
}
.time small {
    font-size: 24px;
    vertical-align: middle;
}

footer {
    text-align: center;
    font-size: 17px;
    color: rgba(0, 0, 0, 0.7);
}